@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto:wght@500&display=swap');



body {
    font-family: "Inconsolata", monospace;
    color: #2f3440;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    background-color: rgb(250, 250, 250);
}

h2, h1{
    
    font-family: "Roboto", sans-serif;
    padding: 4%;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}
h1{ 
    padding-top: 10%;
    font-size: 45px;
    line-height: 50px;
    color: rgb(40, 0, 135);

}

section{ 
 padding: 5%;

}



main
{ 
    padding-bottom: 10%;
   
   }

   



